 <!-- About Section -->
    <section class="success first" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Solve puzzles with friends</h3>
                    <hr class="puzzle-piece"/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>
                    Work together to solve puzzles in unique game worlds designed for 1-6 players.
                    </p>
                </div>
            </div>
        </div>
    </section>
