 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/{{ post.img-detail }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            {% if post.description %}
                                <p>{{ post.description }}</p>
                            {% endif %}
                            {% if post.solution %}
                                <a href="#solution" class="btn btn-info" data-toggle="collapse">Solution</a>
                                <div id="solution" class="collapse">
                                    <p>{{ post.solution}}</p>
                                </div>
                            <br>
                            <br>
                            {% endif %}
                            <br>
                            <button type="button" class="btn btn-link" data-dismiss="modal"><i class="fa fa-home"> Home</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
